tensorflow>=2.13.0,<2.19
streamlit>=0.58.0
numpy
opencv-python
Pillow
scikit-learn
scipy
h5py
requests
requests-file
grpcio
gunicorn
packaging
cachetools
decorator
Keras-Applications
Keras-Preprocessing
